<header class="header">
    <div class="header__top top-header">
        <div class="top-header__container">
            <nav class="top-header__menu menu-top-header">
                <ul data-da=".menu__body,991.98" class="menu-top-header__list">
                    <li class="menu-top-header__item menu-top-header__item_catalog"><a
                            class="menu-top-header__link menu-top-header__link_catalog _icon-arrow-down">Catalog</a>
                    </li>
                    <li class="menu-top-header__item"><a href="{% url 'main_page' %}"
                                                         class="menu-top-header__link">Home</a>
                    </li>
                    <li class="menu-top-header__item"><a href="{% url 'about' %}" class="menu-top-header__link">About
                        us</a></li>
                    <li class="menu-top-header__item"><a href="{% url 'ship_pay' %}" class="menu-top-header__link">Shipping
                        and payment</a>
                    </li>
                    <li class="menu-top-header__item"><a href="{% url 'contacts' %}" class="menu-top-header__link">Contacts</a>
                    </li>
                </ul>
            </nav>
            <div class="top-header__actions">
                <button hidden href="" class="top-header__icon _icon-man"></button>
                {% if not user.is_authenticated %}
                    <a href="{% url 'reg' %}" class="top-header__user user user_reg">Register</a>
                    <a href="{% url 'login' %}" class="top-header__user user user_login">Sign In</a>
                {% else %}
                    <a href="{% url 'profile' %}" class="top-header__user user user_reg">Profile</a>
                    <a href="{% url 'logout' %}" class="top-header__user user user_login">Log Out</a>
                {% endif %}
            </div>
            <nav hidden class="menu">
                <button type="button" class="icon-menu"><span></span></button>
                <div class="menu__body"></div>
            </nav>
        </div>
    </div>
    <div class="header__body body-header">
        <div class="body-header__container">
            <a href="" class="body-header__logo">
                <picture>
                    <source srcset="/media/header/logo/logo.webp" type="image/webp">
                    <img src="/media/header/logo/logo.png" alt="Logo"></picture>
            </a>
            <div data-da=".catalog-header__container, 479.98" class="body-header__search">
                <form action="#" class="search-header">
                    <button type="submit" class="search-header__button _icon-search"></button>
                    <input autocomplete="off" type="text" name="form[]" data-error="Error" placeholder="Search"
                           class="search-header__input">
                </form>
            </div>
            <div class="body-header__actions actions-header">
                <a href="" class="actions-header__location _icon-location"><span>Zaporozhye</span></a>
                <div data-da=".top-header__container,991.98,first" class="actions-header__phones phones-header">
                    <div data-spollers class="phones-header__items">
                        <div class="phones-header__item">
                            <a href="tel:+38(098)980-96-20" class="phones-header__phone"><span>+38(098)980-96-28</span></a>
                            <button type="button" data-spoller class="phones-header__arrow _icon-arrow-down"></button>
                            <ul class="phones-header__list">
                                {% for tel in phone_numbers_contacts %}
                                    <li><a href="tel:{{ tel }}" class="phones-header__phone">{{ tel }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <button type="button" data-popup="#callback" class="phones-header__callback">Request a call
                    </button>
                </div>
                <a href="" data-da=".top-header__container,991.98,2" class="actions-header__favorite _icon-heart"></a>
                <div class="actions-header__cart cart-header">
                    <a href="" hidden data-da=".top-header__container,991.98,2"
                       class="cart-header__icon _icon-cart"><span>0</span></a>
                    <div class="cart-header__body">
                        <a href="#card" class="cart-header__cart">Shopping cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__catalog catalog-header">
        <div class="catalog-header__container">
            <nav class="catalog-header__menu menu-catalog">
                <button type="button" class="menu-catalog__back _icon-arrow-left">Back</button>
                <ul class="menu-catalog__list">
                    {% for category in categories_product %}
                        <li class="menu-catalog__item">
                            <button data-parent="{{ category.name }}"
                                    class="menu-catalog__link">{{ category.name }}</button>
                        </li>
                    {% endfor %}
                </ul>
                <div class="menu-catalog__sub-menu sub-menu-catalog">
                    <button type="button" class="sub-menu-catalog__back _icon-arrow-left">Назад</button>
                    <div class="sub-menu-catalog__container">
                        <div hidden data-submenu="Blades" class="sub-menu-catalog__block">
                            {% for attribute in view.get_attribute %}
                                <div class="sub-menu-catalog__category">
                                    <a href="#" class="sub-menu-catalog__link-category">{{ attribute.name }}</a>
                                </div>
                            {% endfor %}
                            <ul class="sub-menu-catalog__list">
                                {% for brand in view.get_brand %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ brand.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                {% for type in view.get_type %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ type.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                {% for handle_type in view.get_handle_type %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ handle_type.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                {% for composition in view.get_composition %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ composition.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                {% for size in view.get_size %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ size.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% for el in view.get_count_attribute %}
                                <div class="sub-menu-catalog__footer">
                                    <a href="" class="sub-menu-catalog__all">{{ 'See all' }}</a>
                                </div>
                            {% endfor %}
                        </div>
                        <div hidden data-submenu="Rubbers" class="sub-menu-catalog__block">
                            <div class="sub-menu-catalog__category">
                                <a href="#" class="sub-menu-catalog__link-category">Brand</a>
                            </div>
                            <div class="sub-menu-catalog__category">
                                <a href="#" class="sub-menu-catalog__link-category">Rubber Type</a>
                            </div>
                            <div class="sub-menu-catalog__category">
                                <a href="#" class="sub-menu-catalog__link-category">Speed Type</a>
                            </div>
                            <ul class="sub-menu-catalog__list">
                                <li class="sub-menu-catalog__item"><a href=""
                                                                      class="sub-menu-catalog__link">Butterfly</a></li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">DHS</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Donic</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Joola</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Stiga</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Tibhar</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Xiom</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Yasaka</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Yinhe</a>
                                </li>
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                <li class="sub-menu-catalog__item"><a href=""
                                                                      class="sub-menu-catalog__link">Inverted</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Sticky</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href=""
                                                                      class="sub-menu-catalog__link">Antispin</a></li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Hybrid</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Pips</a>
                                </li>
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">DEF</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">ALL</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">OFF</a>
                                </li>
                            </ul>
                            <div class="sub-menu-catalog__footer">
                                <a href="" class="sub-menu-catalog__all">See all</a>
                            </div>
                            <div class="sub-menu-catalog__footer">
                                <a href="" class="sub-menu-catalog__all">See all</a>
                            </div>
                            <div class="sub-menu-catalog__footer">
                                <a href="" class="sub-menu-catalog__all">See all</a>
                            </div>
                        </div>
                        <div hidden data-submenu="Balls" class="sub-menu-catalog__block">
                            <div class="sub-menu-catalog__category">
                                <a href="#" class="sub-menu-catalog__link-category">Brand</a>
                            </div>
                            <div class="sub-menu-catalog__category">
                                <a href="#" class="sub-menu-catalog__link-category">Rank</a>
                            </div>
                            <div class="sub-menu-catalog__category">
                                <a href="#" class="sub-menu-catalog__link-category">Package</a>
                            </div>
                            <ul class="sub-menu-catalog__list">
                                <li class="sub-menu-catalog__item"><a href=""
                                                                      class="sub-menu-catalog__link">Butterfly</a></li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">DHS</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Donic</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Tibhar</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Yinhe</a>
                                </li>
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">3 Star
                                    40+</a></li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Training
                                    40+</a></li>
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                <li class="sub-menu-catalog__item"><a href=""
                                                                      class="sub-menu-catalog__link">By the piece</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Box 6pc</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">100pc</a>
                                </li>
                            </ul>
                            <div class="sub-menu-catalog__footer">
                                <a href="" class="sub-menu-catalog__all">See all</a>
                            </div>
                            <div class="sub-menu-catalog__footer">
                                <a href="" class="sub-menu-catalog__all">See all</a>
                            </div>
                            <div class="sub-menu-catalog__footer">
                                <a href="" class="sub-menu-catalog__all">See all</a>
                            </div>
                        </div>
                        <div hidden data-submenu="Backpacks and bags" class="sub-menu-catalog__block">
                            <div class="sub-menu-catalog__category">
                                <a href="#" class="sub-menu-catalog__link-category">Brand</a>
                            </div>
                            <div class="sub-menu-catalog__category">
                                <a href="#" class="sub-menu-catalog__link-category">Type</a>
                            </div>
                            <div class="sub-menu-catalog__category">
                                <a href="#" class="sub-menu-catalog__link-category">Color</a>
                            </div>
                            <ul class="sub-menu-catalog__list">
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Donic</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Joola</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Yasaka</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Tibhar</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Yinhe</a>
                                </li>
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                <li class="sub-menu-catalog__item"><a href=""
                                                                      class="sub-menu-catalog__link">Backpack</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Bag</a>
                                </li>
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Black</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Blue</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Grey</a>
                                </li>
                            </ul>
                            <div class="sub-menu-catalog__footer">
                                <a href="" class="sub-menu-catalog__all">See all</a>
                            </div>
                            <div class="sub-menu-catalog__footer">
                                <a href="" class="sub-menu-catalog__all">See all</a>
                            </div>
                            <div class="sub-menu-catalog__footer">
                                <a href="" class="sub-menu-catalog__all">See all</a>
                            </div>
                        </div>
                        <div hidden data-submenu="Tennis nets" class="sub-menu-catalog__block">
                            <div class="sub-menu-catalog__category">
                                <a href="#" class="sub-menu-catalog__link-category">Brand</a>
                            </div>
                            <div class="sub-menu-catalog__category">
                                <a href="#" class="sub-menu-catalog__link-category">Color</a>
                            </div>
                            <ul class="sub-menu-catalog__list">
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">DHS</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Yinhe</a>
                                </li>
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Blue</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Black</a>
                                </li>
                            </ul>
                            <div class="sub-menu-catalog__footer">
                                <a href="" class="sub-menu-catalog__all">See all</a>
                            </div>
                            <div class="sub-menu-catalog__footer">
                                <a href="" class="sub-menu-catalog__all">See all</a>
                            </div>
                        </div>
                        <div hidden data-submenu="Tables" class="sub-menu-catalog__block">
                            <div class="sub-menu-catalog__category">
                                <a href="#" class="sub-menu-catalog__link-category">Brand</a>
                            </div>
                            <div class="sub-menu-catalog__category">
                                <a href="#" class="sub-menu-catalog__link-category">Section</a>
                            </div>
                            <div class="sub-menu-catalog__category">
                                <a href="#" class="sub-menu-catalog__link-category">Color</a>
                            </div>
                            <div class="sub-menu-catalog__category">
                                <a href="#" class="sub-menu-catalog__link-category">Thickness</a>
                            </div>
                            <ul class="sub-menu-catalog__list">
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Donic</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Stiga</a>
                                </li>
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Indoor</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href=""
                                                                      class="sub-menu-catalog__link">Outdoor</a>
                                </li>
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Green</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Blue</a>
                                </li>
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">25mm</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">30mm</a>
                                </li>
                            </ul>
                            <div class="sub-menu-catalog__footer">
                                <a href="" class="sub-menu-catalog__all">See all</a>
                            </div>
                            <div class="sub-menu-catalog__footer">
                                <a href="" class="sub-menu-catalog__all">See all</a>
                            </div>
                            <div class="sub-menu-catalog__footer">
                                <a href="" class="sub-menu-catalog__all">See all</a>
                            </div>
                            <div class="sub-menu-catalog__footer">
                                <a href="" class="sub-menu-catalog__all">See all</a>
                            </div>
                        </div>
                        <div hidden data-submenu="Made rackets" class="sub-menu-catalog__block">
                            <div class="sub-menu-catalog__category">
                                <a href="#" class="sub-menu-catalog__link-category">Brand</a>
                            </div>
                            <div class="sub-menu-catalog__category">
                                <a href="#" class="sub-menu-catalog__link-category">Type</a>
                            </div>
                            <div class="sub-menu-catalog__category">
                                <a href="#" class="sub-menu-catalog__link-category">Handle Type</a>
                            </div>
                            <div class="sub-menu-catalog__category">
                                <a href="#" class="sub-menu-catalog__link-category">Average Weight</a>
                            </div>
                            <div class="sub-menu-catalog__category">
                                <a href="#" class="sub-menu-catalog__link-category">Rubbers Thickness</a>
                            </div>
                            <ul class="sub-menu-catalog__list">
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">DHS</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Yinhe</a>
                                </li>
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">DEF</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">DEF+</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">ALL</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">ALL+</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">OFF-</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">OFF</a>
                                </li>
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">FL</a></li>
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">170</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">180</a>
                                </li>
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">2.0</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">2.1</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">2.2</a>
                                </li>
                            </ul>
                            <div class="sub-menu-catalog__footer">
                                <a href="" class="sub-menu-catalog__all">See all</a>
                            </div>
                            <div class="sub-menu-catalog__footer">
                                <a href="" class="sub-menu-catalog__all">See all</a>
                            </div>
                            <div class="sub-menu-catalog__footer">
                                <a href="" class="sub-menu-catalog__all">See all</a>
                            </div>
                            <div class="sub-menu-catalog__footer">
                                <a href="" class="sub-menu-catalog__all">See all</a>
                            </div>
                            <div class="sub-menu-catalog__footer">
                                <a href="" class="sub-menu-catalog__all">See all</a>
                            </div>
                        </div>
                        <div hidden data-submenu="Accessories" class="sub-menu-catalog__block">
                            <div class="sub-menu-catalog__category">
                                <a href="#" class="sub-menu-catalog__link-category">Brand</a>
                            </div>
                            <div class="sub-menu-catalog__category">
                                <a href="#" class="sub-menu-catalog__link-category">Type</a>
                            </div>
                            <div class="sub-menu-catalog__category">
                                <a href="#" class="sub-menu-catalog__link-category">Color</a>
                            </div>
                            <ul class="sub-menu-catalog__list">
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Andro</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Yasaka</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Donic</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Tibhar</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Yinhe</a>
                                </li>
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Edge
                                    Tape</a></li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Wrap on the
                                    handle</a></li>
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Black</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Red</a>
                                </li>
                                <li class="sub-menu-catalog__item"><a href="" class="sub-menu-catalog__link">Green</a>
                                </li>
                            </ul>
                            <div class="sub-menu-catalog__footer">
                                <a href="" class="sub-menu-catalog__all">See all</a>
                            </div>
                            <div class="sub-menu-catalog__footer">
                                <a href="" class="sub-menu-catalog__all">See all</a>
                            </div>
                            <div class="sub-menu-catalog__footer">
                                <a href="" class="sub-menu-catalog__all">See all</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>