<header class="header">
    <div class="header__top top-header">
        <div class="top-header__container">
            <nav class="top-header__menu menu-top-header">
                <ul data-da=".menu__body,991.98" class="menu-top-header__list">
                    <li class="menu-top-header__item menu-top-header__item_catalog"><a
                            class="menu-top-header__link menu-top-header__link_catalog _icon-arrow-down">Catalog</a>
                    </li>
                    <li class="menu-top-header__item"><a href="{% url 'main_page' %}"
                                                         class="menu-top-header__link">Home</a>
                    </li>
                    <li class="menu-top-header__item"><a href="{% url 'about' %}" class="menu-top-header__link">About
                        us</a></li>
                    <li class="menu-top-header__item"><a href="{% url 'ship_pay' %}" class="menu-top-header__link">Shipping
                        and payment</a>
                    </li>
                    <li class="menu-top-header__item"><a href="{% url 'contacts' %}" class="menu-top-header__link">Contacts</a>
                    </li>
                </ul>
            </nav>
            <div class="top-header__actions">
                <button hidden href="" class="top-header__icon _icon-man"></button>
                {% if not user.is_authenticated %}
                    <a href="{% url 'reg' %}" class="top-header__user user user_reg">Register</a>
                    <a href="{% url 'login' %}" class="top-header__user user user_login">Sign In</a>
                {% else %}
                    <a href="{% url 'profile' %}" class="top-header__user user user_reg">Profile</a>
                    <a href="{% url 'logout' %}" class="top-header__user user user_login">Log Out</a>
                {% endif %}
            </div>
            <nav hidden class="menu">
                <button type="button" class="icon-menu"><span></span></button>
                <div class="menu__body"></div>
            </nav>
        </div>
    </div>
    <div class="header__body body-header">
        <div class="body-header__container">
            <a href="" class="body-header__logo">
                <picture>
                    <source srcset="/media/header/logo/logo.webp" type="image/webp">
                    <img src="/media/header/logo/logo.png" alt="Logo"></picture>
            </a>
            <div data-da=".catalog-header__container, 479.98" class="body-header__search">
                <form action="#" class="search-header">
                    <button type="submit" class="search-header__button _icon-search"></button>
                    <input autocomplete="off" type="text" name="form[]" data-error="Error" placeholder="Search"
                           class="search-header__input">
                </form>
            </div>
            <div class="body-header__actions actions-header">
                <a href="" class="actions-header__location _icon-location"><span>Zaporozhye</span></a>
                <div data-da=".top-header__container,991.98,first" class="actions-header__phones phones-header">
                    <div data-spollers class="phones-header__items">
                        <div class="phones-header__item">
                            <a href="tel:+38(098)980-96-20" class="phones-header__phone"><span>+38(098)980-96-28</span></a>
                            <button type="button" data-spoller class="phones-header__arrow _icon-arrow-down"></button>
                            <ul class="phones-header__list">
                                {% for tel in phone_numbers_contacts %}
                                    <li><a href="tel:{{ tel }}" class="phones-header__phone">{{ tel }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <button type="button" data-popup="#callback" class="phones-header__callback">Request a call
                    </button>
                </div>
                <a href="" data-da=".top-header__container,991.98,2" class="actions-header__favorite _icon-heart"></a>
                <div class="actions-header__cart cart-header">
                    <a href="" hidden data-da=".top-header__container,991.98,2"
                       class="cart-header__icon _icon-cart"><span>0</span></a>
                    <div class="cart-header__body">
                        <a href="#card" class="cart-header__cart">Shopping cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__catalog catalog-header">
        <div class="catalog-header__container">
            <nav class="catalog-header__menu menu-catalog">
                <button type="button" class="menu-catalog__back _icon-arrow-left">Back</button>
                <ul class="menu-catalog__list">
                    {% for category in categories_product %}
                        <li class="menu-catalog__item">
                            <button data-parent="{{ category.name }}"
                                    class="menu-catalog__link">{{ category.name }}</button>
                        </li>
                    {% endfor %}
                </ul>
                <div class="menu-catalog__sub-menu sub-menu-catalog">
                    <button type="button" class="sub-menu-catalog__back _icon-arrow-left">Назад</button>
                    <div class="sub-menu-catalog__container">
                        <div hidden data-submenu="Blades" class="sub-menu-catalog__block">
                            {% for attribute in view.get_attribute_blades %}
                                <div class="sub-menu-catalog__category">
                                    <a href="#" class="sub-menu-catalog__link-category">{{ attribute.name }}</a>
                                </div>
                            {% endfor %}
                            <ul class="sub-menu-catalog__list">
                                {% for brand in view.get_brand_blades %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ brand.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                {% for type in view.get_type_blades %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ type.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                {% for handle_type in view.get_handle_type_blades %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ handle_type.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                {% for composition in view.get_composition_blades %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ composition.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                {% for size in view.get_size_blades %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ size.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% for el in view.get_attribute_blades %}
                                <div class="sub-menu-catalog__footer">
                                    <a href="" class="sub-menu-catalog__all">{{ 'See all' }}</a>
                                </div>
                            {% endfor %}
                        </div>
                        <div hidden data-submenu="Rubbers" class="sub-menu-catalog__block">
                            {% for attribute in view.get_attribute_rubbers %}
                                <div class="sub-menu-catalog__category">
                                    <a href="#" class="sub-menu-catalog__link-category">{{ attribute.name }}</a>
                                </div>
                            {% endfor %}
                            <ul class="sub-menu-catalog__list">
                                {% for brand in view.get_brand_rubbers %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ brand.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                {% for type in view.get_type_rubbers %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ type.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                {% for speed_type in view.get_speed_type_rubbers %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ speed_type.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% for el in view.get_attribute_rubbers %}
                                <div class="sub-menu-catalog__footer">
                                    <a href="" class="sub-menu-catalog__all">{{ 'See all' }}</a>
                                </div>
                            {% endfor %}
                        </div>
                        <div hidden data-submenu="Balls" class="sub-menu-catalog__block">
                            {% for attribute in view.get_attribute_balls %}
                                <div class="sub-menu-catalog__category">
                                    <a href="#" class="sub-menu-catalog__link-category">{{ attribute.name }}</a>
                                </div>
                            {% endfor %}
                            <ul class="sub-menu-catalog__list">
                                {% for brand in view.get_brand_balls %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ brand.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                {% for rank in view.get_rank_balls %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ rank.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                {% for package in view.get_package_balls %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ package.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% for el in view.get_attribute_balls %}
                                <div class="sub-menu-catalog__footer">
                                    <a href="" class="sub-menu-catalog__all">{{ 'See all' }}</a>
                                </div>
                            {% endfor %}
                        </div>
                        <div hidden data-submenu="Backpacks and bags" class="sub-menu-catalog__block">
                            {% for attribute in view.get_attribute_backpacksbags %}
                                <div class="sub-menu-catalog__category">
                                    <a href="#" class="sub-menu-catalog__link-category">{{ attribute.name }}</a>
                                </div>
                            {% endfor %}
                            <ul class="sub-menu-catalog__list">
                                {% for brand in view.get_brand_backpacksbags %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ brand.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                {% for type in view.get_type_backpacksbags %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ type.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                {% for color in view.get_color_backpacksbags %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ color.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% for el in view.get_attribute_backpacksbags %}
                                <div class="sub-menu-catalog__footer">
                                    <a href="" class="sub-menu-catalog__all">{{ 'See all' }}</a>
                                </div>
                            {% endfor %}
                        </div>
                        <div hidden data-submenu="Tennis nets" class="sub-menu-catalog__block">
                            {% for attribute in view.get_attribute_nets %}
                                <div class="sub-menu-catalog__category">
                                    <a href="#" class="sub-menu-catalog__link-category">{{ attribute.name }}</a>
                                </div>
                            {% endfor %}
                            <ul class="sub-menu-catalog__list">
                                {% for brand in view.get_brand_nets %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ brand.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                {% for color in view.get_color_nets %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ color.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% for el in view.get_attribute_nets %}
                                <div class="sub-menu-catalog__footer">
                                    <a href="" class="sub-menu-catalog__all">{{ 'See all' }}</a>
                                </div>
                            {% endfor %}
                        </div>
                        <div hidden data-submenu="Tables" class="sub-menu-catalog__block">
                            {% for attribute in view.get_attribute_tables %}
                                <div class="sub-menu-catalog__category">
                                    <a href="#" class="sub-menu-catalog__link-category">{{ attribute.name }}</a>
                                </div>
                            {% endfor %}
                            <ul class="sub-menu-catalog__list">
                                {% for brand in view.get_brand_tables %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ brand.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                {% for section in view.get_section_tables %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ section.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                {% for color in view.get_color_tables %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ color.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                {% for thickness in view.get_thickness_tables %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ thickness.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% for el in view.get_attribute_tables %}
                                <div class="sub-menu-catalog__footer">
                                    <a href="" class="sub-menu-catalog__all">{{ 'See all' }}</a>
                                </div>
                            {% endfor %}
                        </div>
                        <div hidden data-submenu="Made rackets" class="sub-menu-catalog__block">
                            {% for attribute in view.get_attribute_rackets %}
                                <div class="sub-menu-catalog__category">
                                    <a href="#" class="sub-menu-catalog__link-category">{{ attribute.name }}</a>
                                </div>
                            {% endfor %}
                            <ul class="sub-menu-catalog__list">
                                {% for brand in view.get_brand_rackets %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ brand.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                {% for type in view.get_type_rackets %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ type.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                {% for handle_type in view.get_handle_type_rackets %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ handle_type.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                {% for average_weight in view.get_average_weight_rackets %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ average_weight.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                {% for rubbers_thickness in view.get_rubbers_thickness_rackets %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ rubbers_thickness.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% for el in view.get_attribute_rackets %}
                                <div class="sub-menu-catalog__footer">
                                    <a href="" class="sub-menu-catalog__all">{{ 'See all' }}</a>
                                </div>
                            {% endfor %}
                        </div>
                        <div hidden data-submenu="Accessories" class="sub-menu-catalog__block">
                            {% for attribute in view.get_attribute_accessories %}
                                <div class="sub-menu-catalog__category">
                                    <a href="#" class="sub-menu-catalog__link-category">{{ attribute.name }}</a>
                                </div>
                            {% endfor %}
                            <ul class="sub-menu-catalog__list">
                                {% for brand in view.get_brand_accessories %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ brand.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                {% for type in view.get_type_accessories %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ type.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="sub-menu-catalog__list">
                                {% for color in view.get_color_accessories %}
                                    <li class="sub-menu-catalog__item"><a href=""
                                                                          class="sub-menu-catalog__link">{{ color.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% for el in view.get_attribute_accessories %}
                                <div class="sub-menu-catalog__footer">
                                    <a href="" class="sub-menu-catalog__all">{{ 'See all' }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>