{% for category in category_catalog_card %}
    <div class="catalog-cards__item item-catalog-cards">
        <div class="item-catalog-cards__body">
            <h3 class="item-catalog-cards__title">
                <a href="{% url 'catalog' %}?category={{ category.id }}"
                   class="item-catalog-cards__link-title">{{ category }}</a>
            </h3>
            {% if category.name == 'Blades' %}
                {% for el in blades_type %}
                    <ul class="item-catalog-cards__list">
                        <li class="item-catalog-cards__item"><a href="{% url 'catalog' %}?blades-type={{ el.id }}"
                                                                class="item-catalog-cards__link">{{ el.title }}</a>
                        </li>
                    </ul>
                {% endfor %}
            {% endif %}
            {% if category.name == 'Rubbers' %}
                {% for el in rubbers_type %}
                    <ul class="item-catalog-cards__list">
                        <li class="item-catalog-cards__item"><a href="{% url 'catalog' %}?rubbers-type={{ el.id }}"
                                                                class="item-catalog-cards__link">{{ el.title }}</a>
                        </li>
                    </ul>
                {% endfor %}
            {% endif %}
            {% if category.name == 'Balls' %}
                {% for el in balls_rank %}
                    <ul class="item-catalog-cards__list">
                        <li class="item-catalog-cards__item"><a href="{% url 'catalog' %}?balls-rank={{ el.id }}"
                                                                class="item-catalog-cards__link">{{ el.title }}</a>
                        </li>
                    </ul>
                {% endfor %}
            {% endif %}
            {% if category.name == 'Backpacks and bags' %}
                {% for el in backpacks_bags_type %}
                    <ul class="item-catalog-cards__list">
                        <li class="item-catalog-cards__item"><a href="{% url 'catalog' %}?bags-type={{ el.id }}"
                                                                class="item-catalog-cards__link">{{ el.title }}</a>
                        </li>
                    </ul>
                {% endfor %}
            {% endif %}
            {% if category.name == 'Tennis nets' %}
                {% for el in nets_brand %}
                    <ul class="item-catalog-cards__list">
                        <li class="item-catalog-cards__item"><a href="{% url 'catalog' %}?nets-brand={{ el.id }}"
                                                                class="item-catalog-cards__link">{{ el.title }}</a>
                        </li>
                    </ul>
                {% endfor %}
            {% endif %}
            {% if category.name == 'Made rackets' %}
                {% for el in rackets_type %}
                    <ul class="item-catalog-cards__list">
                        <li class="item-catalog-cards__item"><a href="{% url 'catalog' %}?rackets-type={{ el.id }}"
                                                                class="item-catalog-cards__link">{{ el.title }}</a>
                        </li>
                    </ul>
                {% endfor %}
            {% endif %}
            {% if category.name == 'Accessories' %}
                {% for el in accessories_type %}
                    <ul class="item-catalog-cards__list">
                        <li class="item-catalog-cards__item"><a href="{% url 'catalog' %}?accessories-type={{ el.id }}"
                                                                class="item-catalog-cards__link">{{ el.title }}</a>
                        </li>
                    </ul>
                {% endfor %}
            {% endif %}
            {% if category.name == 'Tables' %}
                {% for el in tables_section %}
                    <ul class="item-catalog-cards__list">
                        <li class="item-catalog-cards__item"><a href="{% url 'catalog' %}?tables-section={{ el.id }}"
                                                                class="item-catalog-cards__link">{{ el.title }}</a>
                        </li>
                    </ul>
                {% endfor %}
            {% endif %}
        </div>
        <div class="item-catalog-cards__image">
            <img src="{{ category.image.url }}" alt="{{ category.name }}">
        </div>
    </div>
{% endfor %}