<div class="catalog__footer">
    {% if is_paginated %}
        <div class="catalog__pagging pagging">
            <ul class="pagging__list">
                {% if page_obj.has_previous %}
                    <li class="pagging__item">
                        <a class="pagging__link" href="?
                                {% if request.GET.urlencode %}{{ request.GET.urlencode }}&{% endif %}page={{ page_obj.previous_page_number }}"
                           aria-label="Previous">
                            <span aria-hidden="true" class="pagging__link">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}
                    {% if page_obj.number == page %}
                        <li class="pagging__item active"><a class="pagging__link _active" href="#">{{ page }} <span
                                class="sr-only"></span></a>
                        </li>
                    {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
                        <li class="pagging__item"><a class="pagging__link" href="?
                                {% if request.GET.urlencode %}{{ request.GET.urlencode }}&{% endif %}page={{ page }}">{{ page }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="pagging__item">
                        <a class="pagging__link" href="?

                                {% if request.GET.urlencode %}{{ request.GET.urlencode }}&{% endif %}page={{ page_obj.next_page_number }}"
                           aria-label="Next">
                            <span aria-hidden="true" class="pagging__link">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
</div>