.select_control .select__value::after {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    color: rgb(0, 0, 0);
    line-height: 1;
    font-family: "Poppins";
    font-size: 1.125rem;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    font-family: "Poppins";
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

body {
    font-weight: 500;
}

.lock body {
    overflow: hidden;
    touch-action: none;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.wrapper > main {
    flex: 1 1 auto;
}

.wrapper > * {
    min-width: 0;
}

[class*=__container] {
    max-width: 101.25rem;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0 0.9375rem;
}

.button {
    display: inline-block;
    padding: 0 0;
    background: rgb(181, 218, 161);
    box-shadow: 0rem 0.25rem 1.25rem rgba(226, 80, 7, 0.43);
    border-radius: 0.1875rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.25rem;
    color: #fff;
    padding: 0.5rem 3.25rem;
    line-height: 1.6;
    transition: box-shadow 0.3s ease 0s;
}

@media (any-hover: hover) {
    .button:hover {
        box-shadow: 0rem 0.25rem 1.5625rem rgba(243, 166, 13, 0.43);
    }
}

.button_border {
    background-color: #fff;
    border: 0.0625rem solid #e86d1b;
    color: #e86d1b;
    box-shadow: none;
}

.button_black {
    background-color: #000000;
    color: #fff;
    box-shadow: none;
    padding: 0.5rem 1.875rem;
}

.checkbox {
    position: relative;
}

.checkbox:not(:last-child) {
    margin-bottom: 0.3125em;
}

.checkbox__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.checkbox__input:checked + .checkbox__label::after {
    transform: scale(1);
}

.checkbox__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: 10px;
}

.checkbox__label:before {
    content: "";
    align-self: flex-start;
    flex: 0 0 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    border: 0.0625rem solid #e86d1b;
    border-radius: 0.125rem;
}

.checkbox__label::after {
    content: "";
    transform: scale(0);
    transition: all 0.3s ease 0s;
    border-radius: 0.125rem;
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 0.125rem;
    left: 0.125rem;
    background-color: #e86d1b;
}

.checkbox__text small {
    color: #e86d1b;
}

.select {
    position: relative;
}

.select__body {
    position: relative;
}

.select__title {
    color: inherit;
    text-align: left;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}

.select__value {
    display: flex;
    align-items: center;
    height: 1.875rem;
    padding: 0 0.9375rem;
    gap: 0.625rem;
}

.select__value > * {
    flex: 1 1 auto;
}

.select__value:after {
    content: "";
    align-self: stretch;
    flex: 0 0 10px;
    transition: all 0.3s ease 0s;
    display: flex;
    justify-content: center;
    align-items: center;
}

._select-open .select__value:after {
    transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
    content: attr(data-pseudo-label);
    opacity: 0.5;
}

.select__text {
    flex: 1 1 auto;
}

.select__input {
    width: 100%;
    background-color: transparent;
    height: 100%;
}

.select__options {
    color: #000;
    position: absolute;
    top: 29px;
    border-radius: 0 0 4px 4px;
    min-width: 100%;
    left: 0;
    background-color: #fff;
    border-top: 0;
    border: 1px solid #d9d9d9;
    border-top: 0;
    padding: 10px 0px 5px 0px;
}

.select__scroll {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
}

.select__option {
    width: 100%;
    text-align: left;
    cursor: pointer;
    padding: 5px 15px;
    color: inherit;
}

.select__option._select-selected {
    background-color: #eee;
}

@media (any-hover: hover) {
    .select__option:hover {
        background: #d9d9d9;
    }
}

.select__row {
    display: inline-flex;
    align-items: center;
}

.select._select-open {
    z-index: 5;
}

.select_control .select__title {
    border: 0.0625rem solid rgba(4, 4, 4, 0.3);
    border-radius: 0.1875rem;
}

.select_control .select__value {
    height: 2.5rem;
    color: rgba(0, 0, 0, 0.5);
}

.select_control .select__value::after {
    content: "\e909";
    font-size: 0.75rem;
    margin-left: 1.25em;
}

.select_control .select__option {
    color: rgba(0, 0, 0, 0.5);
}

@media (any-hover: hover) {
    .select_control .select__option:hover {
        color: rgb(0, 0, 0);
    }
}

._select-tag {
    cursor: pointer;
}

.rating {
    display: flex;
    align-items: flex-end;
    font-size: 1.875rem;
    line-height: 0.75;
    transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
    opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
    cursor: pointer;
}

.rating__body {
    letter-spacing: 0.2em;
    position: relative;
}

.rating__body::before {
    content: "★★★★★";
    display: block;
}

.rating__active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating__active::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #ffd300;
}

.rating__items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.rating__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}

.rating__value {
    display: none;
    font-size: 50%;
    line-height: 1;
    padding: 0px 0px 0px 10px;
}

.rating__info {
    color: #e38b07;
    font-size: 1.375rem;
}

.quantity {
    width: 150px;
    height: 50px;
    display: flex;
    border: 1px solid rgba(166, 166, 166, 0.8);
}

.quantity__button {
    flex: 0 0 50px;
    position: relative;
    cursor: pointer;
    background-color: #e0dada;
}

.quantity__button::before, .quantity__button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.3s ease 0s;
    margin: 0px 0px 0px -4.5px;
    background-color: #000000;
    width: 9px;
    height: 1px;
}

@media (any-hover: hover) {
    .quantity__button:hover::before, .quantity__button:hover::after {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.quantity__button_plus::before {
    transform: rotate(-90deg);
}

.quantity__input {
    flex: 1 1 auto;
}

.quantity__input input {
    height: 100%;
    color: #282525;
    font-size: 20px;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

.noUi-target {
    position: relative;
}

.noUi-base,
.noUi-connects {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

/* Wrapper for all connect elements.
 */
.noUi-connects {
    overflow: hidden;
    z-index: 0;
}

.noUi-connect,
.noUi-origin {
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -webkit-transform-style: preserve-3d;
    transform-origin: 0 0;
    transform-style: flat;
}

/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
    left: 0;
    right: auto;
}

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
    top: -100%;
    width: 0;
}

.noUi-horizontal .noUi-origin {
    height: 0;
}

.noUi-handle {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
}

.noUi-touch-area {
    height: 100%;
    width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
    transition: transform 0.3s;
}

.noUi-state-drag * {
    cursor: inherit !important;
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
    height: 0.0625rem;
}

.noUi-horizontal .noUi-handle {
    width: 1.125rem;
    height: 1.125rem;
    right: -0.5625rem;
    top: -0.5625rem;
    border-radius: 50%;
}

.noUi-vertical {
    width: 18px;
}

.noUi-vertical .noUi-handle {
    width: 28px;
    height: 34px;
    right: -6px;
    bottom: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
    left: -17px;
    right: auto;
}

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
    background-color: #e86d1b;
}

.noUi-connects {
    border-radius: 3px;
}

.noUi-connect {
    background: #000000;
}

/* Handles and cursors;
 */
.noUi-draggable {
    cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
    cursor: ns-resize;
}

.noUi-handle {
    background: #e86d1b;
    box-shadow: 0rem 0.25rem 1.25rem rgba(232, 170, 49, 0.3);
}

.noUi-handle::before {
    content: "";
    position: absolute;
    background-color: #000000;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    top: 0.1875rem;
    left: 0.1875rem;
}

/* Handle stripes;
 */
/* Disabled state;
 */
[disabled] .noUi-connect {
    background: #b8b8b8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
    cursor: not-allowed;
}

/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
    box-sizing: border-box;
}

.noUi-pips {
    position: absolute;
    color: #999;
}

/* Values;
 *
 */
.noUi-value {
    position: absolute;
    white-space: nowrap;
    text-align: center;
}

.noUi-value-sub {
    color: #ccc;
    font-size: 10px;
}

/* Markings;
 *
 */
.noUi-marker {
    position: absolute;
    background: #ccc;
}

.noUi-marker-sub {
    background: #aaa;
}

.noUi-marker-large {
    background: #aaa;
}

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
    padding: 10px 0;
    height: 80px;
    top: 100%;
    left: 0;
    width: 100%;
}

.noUi-value-horizontal {
    transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
    transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
    margin-left: -1px;
    width: 2px;
    height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
    height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
    height: 15px;
}

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
    padding: 0 10px;
    height: 100%;
    top: 0;
    left: 100%;
}

.noUi-value-vertical {
    transform: translate(0, -50%);
    padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
    transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
    width: 5px;
    height: 2px;
    margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
    width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
    width: 15px;
}

.noUi-tooltip {
    display: block;
    position: absolute;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background: #fff;
    color: #000;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
    transform: translate(0, -50%);
    top: 50%;
    right: 120%;
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
    transform: translate(50%, 0);
    left: auto;
    bottom: 10px;
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
    transform: translate(0, -18px);
    top: auto;
    right: 28px;
}

body::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease 0s;
    pointer-events: none;
    z-index: 149;
}

.popup-show body::after {
    opacity: 1;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 30px 10px;
    transition: visibility 0.8s ease 0s;
    visibility: hidden;
    pointer-events: none;
}

.popup_show {
    z-index: 150;
    visibility: visible;
    overflow: auto;
    pointer-events: auto;
}

.popup_show .popup__content {
    visibility: visible;
    transform: scale(1);
}

.popup__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__content {
    visibility: hidden;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
    background-color: #eee;
    padding: 20px;
    width: 100%;
    max-width: 900px;
    border-radius: 20px;
}

.lock .popup__content {
    visibility: visible;
}

[class*=-ibg] {
    position: relative;
}

[class*=-ibg] img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: contain;
    object-fit: contain;
}

[class*=-ibg_cover] img {
    -o-object-fit: cover;
    object-fit: cover;
}

.messages-success {
    display: flex;
    width: 450px;
    height: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #dff0d8;
    color: #3c763d;
}