@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Poppins:500,600,700&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-search:before {
  content: "\e90a";
}

._icon-up-arrow:before {
  content: "\e900";
}

._icon-scales:before {
  content: "\e901";
}

._icon-phone:before {
  content: "\e902";
}

._icon-map:before {
  content: "\e903";
}

._icon-man:before {
  content: "\e904";
}

._icon-location:before {
  content: "\e905";
}

._icon-heart:before {
  content: "\e906";
}

._icon-cart:before {
  content: "\e907";
}

._icon-card:before {
  content: "\e908";
}

._icon-arrow-down:before {
  content: "\e909";
}

._icon-footer-clock:before {
  content: "\e94f";
}

._icon-arrow-left:before {
  content: "\ea40";
}

._icon-mail:before {
  content: "\ea86";
}