{% extends 'base.html' %}

{% load static %}

{#{% block page_css %}#}
{#    <link rel="stylesheet" href="{% static "users/css/style.css" %}">#}
{#{% endblock %}#}

{% block content %}
    <main class="page page_inner">
        <div class="page__header">
            <div class="page__container">
                <nav class="page__breadcrumbs breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a href="/" class="breadcrumbs__link">Main</a>
                        </li>
                        <li class="breadcrumbs__item">
                            <a href="" class="breadcrumbs__link">{{ object.category.name }}</a>
                        </li>
                        <li class="breadcrumbs__item">
                            <span class="breadcrumbs__current">{{ object.name }}</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="product">
            <div class="product__container">
                <div class="product__main main-product">
                    <div class="main-product__images images-product">
                        <div class="images-product__slider swiper">
                            <div class="images-product__swiper swiper-wrapper">
                                {% for image in object.images_product.all %}
                                    <div class="images-product__slide-ibg swiper-slide">
                                        <picture>
                                            <source srcset="{{ image.image.url }}" type="image/webp">
                                            <img src="{{ image.image.url }}" alt=""></picture>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="images-product__thumbs thumbs-images swiper">
                            <div class="thumbs-images__swiper swiper-wrapper">
                                {% for image in object.images_product.all %}
                                    <div class="thumbs-images__slide-ibg swiper-slide">
                                        <picture>
                                            <source srcset="{{ image.image.url }}" type="image/webp">
                                            <img src="{{ image.image.url }}" alt=""></picture>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="main-product__body body-product">
                        <div class="body-product__header header-product">
                            <div class="header-product__line">
                                <h1 class="header-product__title">{{ object.name }}</h1>
                                <button class="header-product__link _icon-scales"></button>
                                <button class="header-product__link _icon-heart"></button>
                            </div>
                            <div class="header-product__rating rating">
                                <div class="rating__body">
                                    <div class="rating__active"></div>
                                    <div class="rating__items">
                                        <input type="radio" class="rating__item" value="1" name="rating">
                                        <input type="radio" class="rating__item" value="2" name="rating">
                                        <input type="radio" class="rating__item" value="3" name="rating">
                                        <input type="radio" class="rating__item" value="4" name="rating">
                                        <input type="radio" class="rating__item" value="5" name="rating">
                                    </div>
                                </div>
                                <div class="rating__value">3.6</div>
                            </div>
                        </div>
                        <div class="body-product__table table-product">
                            <div class="table-product__label">Артикул:</div>
                            <div class="table-product__value">AF0000001952</div>
                            <div class="table-product__label">Торговая марка:</div>
                            <div class="table-product__value">WUESTHOF (Германия)</div>
                            <div class="table-product__label">Серия:</div>
                            <div class="table-product__value">Ножи серии Classic Ikon</div>
                            <div class="table-product__label">Бонусные баллы:</div>
                            <div class="table-product__value">38</div>
                        </div>
                        <div class="body-product__options options-product">
                            <div class="options-product__label">Сталь</div>
                            <div class="options-product__value">
                                <select name="form[]" class="form">
                                    <option value="1" selected>Пункт №1</option>
                                    <option value="2">Пункт №2</option>
                                    <option value="3">Пункт №3</option>
                                    <option value="4">Пункт №4</option>
                                </select>
                            </div>
                        </div>
                        <div class="body-product__actions actions-product">
                            <div class="actions-product__price">{{ object.price }}</div>
                            <div class="actions-product__row">
                                <div data-quantity class="actions-product__quantity quantity">
                                    <button data-quantity-plus type="button"
                                            class="quantity__button quantity__button_plus"></button>
                                    <div class="quantity__input">
                                        <input data-quantity-value autocomplete="off" type="text" name="form[]"
                                               value="1">
                                    </div>
                                    <button data-quantity-minus type="button"
                                            class="quantity__button quantity__button_minus"></button>
                                </div>
                                <div class="actions-product__buttons">
                                    <a href="" class="actions-product__cart button"><span
                                            class="_icon-cart">Add to cart</span></a>
                                    <a href="" class="actions-product__button button button_black">Buy in 1 click</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-tabs="992" class="product__info product-info">
                    <nav data-tabs-titles class="product-info__navigation">
                        <button type="submit" class="product-info__title _tab-active">Description</button>
                        <button type="submit" class="product-info__title">Characteristics</button>
                        <button type="submit" class="product-info__title">Reviews</button>
                    </nav>
                    <div data-tabs-body class="product-info__content">
                        <div class="product-info__body">
                            {{ object.description }}
                        </div>
                        <div class="product-info__body">
                            {{ object.characteristics }}
                        </div>
                        <div class="product-info__body">
                            <form action="{% url 'add_review' object.id %}" method="post" class="form-review"
                                  autocomplete="off">
                                {% csrf_token %}
                                <div class="form-left-decoration"></div>
                                <div class="form-right-decoration"></div>
                                <div class="circle"></div>
                                <div class="form-inner">
                                    <h3>Review</h3>
                                    <input type="text" placeholder="Username" name="name">
                                    <input type="email" placeholder="Email" name="email">
                                    <textarea placeholder="Message..." rows="4" name="text"></textarea>
                                    <input type="submit" value="Send">
                                </div>
                            </form>
                            <div class="block__comments">
                                <h2>Reviews</h2>
                                {% for review in object.reviews_product.all %}
                                    <div class="product_comments product-comments">
                                        <img src="" class="product-comments__image" alt="">
                                        <div class="product-comments__info product-comments-info">
                                            <h5>{{ review.name }}</h5>
                                            <p>{{ review.text }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
